<div class="container">
    <div class="mb-3 font-bold text-red-400">
        資料夾位置：src/app/features/date-and-time-display
    </div>

    <p-accordion [activeIndex]="3">
        <p-accordionTab header="日期相關的顯示">
            <full-calendar [options]="dayGridViewOptions"></full-calendar>
        </p-accordionTab>
        <p-accordionTab header="日期連結">
            <full-calendar [options]="dateLinkOptions"></full-calendar>
        </p-accordionTab>
        <p-accordionTab header="現在時間的指標">
            <full-calendar [options]="timeGridView"></full-calendar>
        </p-accordionTab>
        <p-accordionTab header="工作時間設定">
            <full-calendar [options]="businessHoursView"></full-calendar>
        </p-accordionTab>
    </p-accordion>
</div>

<p-dialog
    header="Edit Profile"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
>
    <span class="p-text-secondary block mb-5">Update your information.</span>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold w-6rem">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
</p-dialog>
