/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

.container {
    margin: 0;
    padding: 0 15rem 0 15rem;
    @media (max-width: 768px) {
        padding: 0 1rem 0 1rem;
    }
}
